framework:
    messenger:
        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    table_name: messenger_messages
                    queue_name: default
                    auto_setup: true
                retry_strategy:
                    max_retries: 3
                    delay: 1000
                    multiplier: 2
                    max_delay: 60000

        routing:
            'App\Message\CpuStressMessage': async
            'App\Message\DataTransferMessage': async
            'App\Message\RemoteCommandMessage': async
