
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.agents/*
/.claude
###< symfony/framework-bundle ###
.env
skills-lock.json
EKS/Terraform/environments/dev/.terraform/
EKS/Terraform/environments/dev/.terraform.lock.hcl
EKS/Terraform/environments/dev/eks-execution-plan.tfplan
EKS/Terraform/environments/dev/terraform.tfvars
