apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: php-job-demo
  labels:
    app: php-job-demo
    component: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: php-job-demo
      component: web
  template:
    metadata:
      labels:
        app: php-job-demo
        component: web
    spec:
      containers:
        - name: web
          image: somesh0007/myrepo:php-job-demo-dummyextrdb
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: app-secrets
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
